# 1. Importing Libraries and Datasets

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=  r'C:\Users\nehma\OneDrive\Desktop\CF Project'

In [3]:
path

'C:\\Users\\nehma\\OneDrive\\Desktop\\CF Project'

In [4]:
# Importing cleaned individual years as CSV files 
df_2015 =pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_2015.csv'), index_col = False)
df_2016 =pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_2016.csv'), index_col = False)
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_2017.csv'), index_col = False)
df_2018 =pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_2018.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'cleaned_2019.csv'), index_col = False)

# 2. Merging Data Sets

In [5]:
df_2015.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [6]:
df_2016.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2016,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
1,Albania,Central and Eastern Europe,2016,109,4.655,0.95530,0.50163,0.73007,0.31866,0.05301,0.16840,1.92816
2,Algeria,Middle East and Northern Africa,2016,38,6.355,1.05266,0.83309,0.61804,0.21006,0.16157,0.07044,3.40904
3,Angola,Sub-Saharan Africa,2016,141,3.866,0.84731,0.66366,0.04991,0.00589,0.08434,0.12071,2.09459
4,Argentina,Latin America and Caribbean,2016,26,6.650,1.15137,1.06612,0.69711,0.42284,0.07296,0.10989,3.12985

In [7]:
df_2017.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Generosity,Gov_trust,Dystopia_residual
0,Afghanistan,Southern Asia,2017,141,3.794,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
1,Albania,Central and Eastern Europe,2017,109,4.644,0.996193,0.803685,0.731160,0.381499,0.201313,0.039864,1.490442
2,Algeria,Middle East and Northern Africa,2017,53,5.872,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604
3,Angola,Sub-Saharan Africa,2017,140,3.795,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
4,Argentina,Latin America and Caribbean,2017,24,6.599,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005

In [8]:
df_2018.head()

,Happiness_rank,Country,Region,Year,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Generosity,Gov_trust
0,145,Afghanistan,Southern Asia,2018,3.632,0.332,0.537,0.255,0.085,0.191,0.036
1,112,Albania,Central and Eastern Europe,2018,4.586,0.916,0.817,0.790,0.419,0.149,0.032
2,84,Algeria,Middle East and Northern Africa,2018,5.295,0.979,1.154,0.687,0.077,0.055,0.135
3,142,Angola,Sub-Saharan Africa,2018,3.795,0.730,1.125,0.269,0.000,0.079,0.061
4,29,Argentina,Latin America and Caribbean,2018,6.388,1.073,1.468,0.744,0.570,0.062,0.054

In [9]:
df_2019.head()

,Happiness_rank,Country,Region,Year,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Generosity,Gov_trust
0,154,Afghanistan,Southern Asia,2019,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,107,Albania,Central and Eastern Europe,2019,4.719,0.947,0.848,0.874,0.383,0.178,0.027
2,88,Algeria,Middle East and Northern Africa,2019,5.211,1.002,1.160,0.785,0.086,0.073,0.114
3,47,Argentina,Latin America and Caribbean,2019,6.086,1.092,1.432,0.881,0.471,0.066,0.050
4,116,Armenia,Central and Eastern Europe,2019,4.559,0.850,1.055,0.815,0.283,0.095,0.064

In [11]:
# Joining 2015 and 2016
df_2015_2016 = pd.merge(df_2015, df_2016, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity', 'Dystopia_residual'])

In [12]:
df_2015_2016.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [13]:
df_2015_2016.tail()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
310,Venezuela,Latin America and Caribbean,2016,44,6.084,1.13367,1.03302,0.61904,0.19847,0.08304,0.04250,2.97468
311,Vietnam,Southeastern Asia,2016,96,5.061,0.74037,0.79117,0.66157,0.55954,0.11556,0.25075,1.94180
312,Yemen,Middle East and Northern Africa,2016,147,3.724,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295
313,Zambia,Sub-Saharan Africa,2016,106,4.795,0.61202,0.63760,0.23573,0.42662,0.11479,0.17866,2.58991
314,Zimbabwe,Sub-Saharan Africa,2016,131,4.193,0.35041,0.71478,0.15950,0.25429,0.08582,0.18503,2.44270

In [14]:
df_2015_2016.shape

(315, 12)

In [15]:
# Joining (2015-2016) with 2017
df_15_16_17 = pd.merge(df_2015_2016, df_2017, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity', 'Dystopia_residual'])

In [16]:
df_15_16_17.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [17]:
df_15_16_17.shape

(470, 12)

In [18]:
#now with 2018
# Joining (15-17) with 2018
df_15_16_17_18 = pd.merge(df_15_16_17, df_2018, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity'])

In [19]:
df_15_16_17_18.shape

(626, 12)

In [20]:
# Joining (15-18) with 2019
merge_all_years = pd.merge(df_15_16_17_18, df_2019, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity'])

In [21]:
merge_all_years.shape

(782, 12)

In [22]:
merge_all_years.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

# 3. Consistency Checks

In [24]:
# Checking for missing values
merge_all_years.isnull().sum()  #one missing value for Gov_trust and 312 for dustopia_residual(due to the fact that it was not in original data)

Country                0
Region                 0
Year                   0
Happiness_rank         0
Happiness_score        0
GDP_capita             0
Family                 0
Life_expectancy        0
Freedom                0
Gov_trust              1
Generosity             0
Dystopia_residual    312
dtype: int64

In [30]:
# Checking for duplicates
merge_all_years.dups = merge_all_years[merge_all_years.duplicated()]

In [32]:
merge_all_years.dups.shape  #no duplicates

(0, 12)

# 4. Descriptive Statistics

In [35]:
merge_all_years.describe()

,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000
mean,2016.993606,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717
std,1.417364,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2016.000000,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975
50%,2017.000000,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640
75%,2018.000000,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575
max,2019.000000,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720

In [36]:
# Exporting to CSV File
merge_all_years.to_csv(os.path.join(path, '02 Data','Prepared Data', 'merge_all_years.csv'))